.Letter {
  /* dimensions, color, and shape */
  min-width: 64px;
  max-width: 64px;
  min-height: 64px;
  max-height: 64px;
  background-color: deepskyblue;
  border-radius: 10%;

  /* letter display properties */
  font-size: 40px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.LetterBox {
  max-width: 400px;
  height: 200px;

  /* border properties */
  border-width: 2px;
  border-color: white;
  border-style: dashed;

  /* flex properties */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  gap: 6px;
}
